.todo-list {
  text-transform: capitalize;
  margin-top: 100px;
}
section .container .row {
  margin-top: 150px;
  box-shadow: 1px 1px 17px rgb(223, 223, 223);
  padding: 30px;
  background-color: rgba(238, 238, 238, 0.74);
  width: 70%;
  margin: auto;
  border: 2px solid black;
}
.todo-list-form {
  border: 2px solid rgba(0, 0, 0, 0.397);
  box-shadow: 1px 7px 15px rgb(221, 220, 220);
  background-color: white;
}
.todo-list-form h5 {
  background-color: #fec72c;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

.todo-list-form input {
  width: 80%;
}
.todo-list-form button {
  background-color: #eee;
  height: 30px;
  width: 50px;
  color: black;
  border: none;
  border: 1px solid black;
}
img {
  width: 99%;
  height: 500px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.397);
}

::placeholder {
  font-size: 13px;
  color: gray;
}
ul {
  margin-top: 30px;
  list-style-type: circle;
}
.todo-list-form ul li {
  width: 90%;
  border-bottom: 2px solid #eee;
  padding: 10px;
  font-size: 15px;
  text-transform: none;
}
.todo-list-form .delete-btn {
  background-color: #fec72c;
  border-radius: 50%;
  border: none;
  color: black;
  font-size: 14px;
  width: 25px;
  height: 25px;
  float: right;
  margin-top: -20px;
}
